$kanban-nav-color: #5e60ce;
$kanban-nav-fontStyle-logo: 'Mukta', sans-serif;
$kanban-nav-fontStyleV2-logo: 'Cabin', sans-serif;
$kanban-nav-fontColor-logo: #48bfe3;
$kanban-board-color: #f4f1de;
$kanban-createColumn-color: #48bfe3;